/* 
CSS for p1.turkeyumber.com
Dynamic Web Apps, Fall 2013

colors:
#FFA400
#DF0018
*/


/* Some general resets */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, a
 {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}



body {
    line-height:1.25em;
    height: 100%;
    background-color: #ffffff;
}


a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

h1 {
    font-size:1.5em;
    line-height: 1.75em;
    color: #CC0000;
}

h2 {
    font-size:1em;
    color: #DF0018;
    margin-top: .75em;
}

p, li {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: .85em;
    color: #000000;
}

a {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: #999999;
}



form{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: #343434;
    font-size: 1.1em;
}

.user_grid{
    width: 150px;
    height: 80px;
    float:left;
    text-align: center;
    border:1px solid gray;
    margin:5px;
    padding:5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.container {
    display: block;
    width: 100%;
    min-height:100%;
    padding: 0px 0 35px 0;
/*    overflow:auto;
*/}


/*-------------------------------------------------------------------------------------------------
        menu
-------------------------------------------------------------------------------------------------*/


#menu{
    width:80%;
    max-width: 600px;
    margin:0 auto;
    padding: 10px 50px 0px 50px;
    text-align: justify;
    border: 1px #000000;
   /* font-size: 0.1px; /*hide whitespace between elements*/
}

#menu li{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #000000;
    /*width: 23%;*/
}
 
#menu .break{
    width: 100%;
    height: 0;
}

/*-------------------------------------------------------------------------------------------------
        central display box
-------------------------------------------------------------------------------------------------*/


.infobox {
    display: block;
    width: 80%;
    max-width: 700px;
    min-height: 200px;
    background-color: #ffffff; /*97C8E0; /* 9DDE9D #66cc66; 9DDE9D*/
    margin: 0 auto;
    padding: 25px ;/*15px 25px 15px;*/
   /* -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: 1px 1px 10px #999999;
    -moz-box-shadow: 1px 1px 10px #999999;
    box-shadow:  1px 1px 10px #999999; */
    overflow: hidden;
}

#inner_infobox{
    width: 49%;
    height:200px;
    float:left;
}

#signup_infobox{
    width: 49%;
    height:300px;
    float:left;
    padding-left: 10px;
}

/*-------------------------------------------------------------------------------------------------
        custom buttons
-------------------------------------------------------------------------------------------------*/


#delete_option a{
    float:right;
    background-color: #ff4747;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #3f3f3f;
}

.green_button {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: #3f3f3f;
    padding: 5px;
    background-color: #00CC66;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.red_button {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: #3f3f3f;
    padding:5px;
    background-color: #ff4747;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*-------------------------------------------------------------------------------------------------
        posts
-------------------------------------------------------------------------------------------------*/


article {
    border-bottom: 1px solid #aeaeae;
    min-height: 110px;
}

time {
    font-family: 'Raleway', sans-serif;
    text-align: right;
    float:left;
    vertical-align:bottom;
    font-size: .75em;
    color: #aeaeae;
    display: block;
    width: 100%;
}


#poster{
    font-size: 0.9em;
    color: #003366;
}


#posts{
    display: block;
    font-size: 1.5em;
    width: 100%;
    min-height: 75px;
    padding-left: 10px;
}


#infobox_posts{
    width: 60%;
    float:left;
}

#infobox_avatar{
    width: 38%;
    float:right;
}

#avatar_update_form{
    padding: 10px 0px;
    width:80%;
    float:right;
}

.avatar{
    float:right;
}





/*-------------------------------------------------------------------------------------------------
        header/footer bizniss
-------------------------------------------------------------------------------------------------*/


.header{
    width:100%;
    background-color: #656565; 
    height: 150px;
    background-image:url('tree_bark.png');
    background-repeat:repeat;/*
    border-bottom: 5px solid #66A385;*/
}

.header h1 a{
    color:#000000;
    font-size: 400%;
    padding: 150px 0px 0px 100px;
}

.header_links{
    padding: 38px;
    text-align: right;
}


.footer {
    width:100%;
    height: 120px;
    background-color: #006633;
    border-top: 5px solid #66A385;
    display: block;
    font-size: 1.1em;
    color: #FFFFFF;
    margin-top: -20px;
    text-align: left;
    
}

.footer p{
    padding: 20px 0px 0px 20px;
    text-align: left;
    font-size: 0.8em;
    color:#ffffff;
}

.footer li{
    text-align: left;
    font-size: 0.8em;
    color:#ffffff;
}

#profileFoot{
    display:block;
    clear:both;
}

.space {
    margin: 20px 0;
}